.imagen-garen{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 73%;
    border: solid #c1c1c1 0.5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.imagen-garen img{
    width: 100%;
    height: 100%;
}
.btn{
    margin-bottom: 10;
}
#mergedResult{
    border: solid 1px black;
    display:table-cell;
    vertical-align:middle;
}
#drop_zone {
    margin-top: 10;
    border: 1px solid cornflowerblue;
    width:  200px;
    height: 100px;
  }